<div class="w-full h-full flex justify-center items-center">
  <div class="w-3/5 h-full flex flex-col py-10">
    @if (content()) {
      <article class="w-full h-full flex flex-col border-[1px] border-[#e1e4e8] rounded-md">
        <h1 class="text-3xl font-bold rounded-t-md border-b-[1px] border-b-[#e1e4e8] px-5 py-2 bg-[#f4f7f9] text-gray-500">关于</h1>
        <div class="px-5 py-2 ">
          <analog-markdown [content]="content()" />
        </div>
      </article>
      }
  </div>

</div>


