<div class="min-h-screen w-full flex flex-col">
  <header>
    <nav class="bg-gray-50 border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800">
        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
            <a href="/" class="flex items-center">
                <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">技多不压身</span>
            </a>
            <div class="flex items-center lg:order-2">
                <a class="flex justify-center items-center cursor-pointer text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800" (click)="showSearch = true">
                  <img src="assets/light/search.svg" alt="search" class="h-4 w-4 dark:hidden ">
                  <img src="assets/dark/search.svg" alt="search" class="h-4 w-4 dark:block hidden">
                  <div>搜索</div>
                </a>
                <button data-collapse-toggle="mobile-menu-2" type="button" class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="mobile-menu-2" aria-expanded="false">
                    <span class="sr-only">打开菜单</span>
                    <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
                    <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
            </div>
            <div class="hidden justify-between items-center w-full lg:flex lg:w-auto lg:order-1" id="mobile-menu-2">
                <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
                    <li>
                        <a routerLink="/" (click)="changeTag('blog')" [ngClass]="{'lg:bg-transparent text-primary-700 dark:text-white' : currentTag == 'blog'}"  class="block py-2 pr-4 pl-3 text-gray-700 rounded lg:bg-transparent dark:text-gray-400 lg:p-0 " aria-current="page">主页</a>
                    </li>
                    <li>
                        <a routerLink="/tags" (click)="changeTag('tags')" [ngClass]="{'lg:bg-transparent text-primary-700 dark:text-white': currentTag == 'tags'}"   class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">标签</a>
                    </li>
                    <li>
                        <a routerLink="/categories" (click)="changeTag('categories')" [ngClass]="{' lg:bg-transparent text-primary-700 dark:text-white': currentTag == 'categories'}"   class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">分类</a>
                    </li>
                    <li>
                        <a routerLink="/archives" (click)="changeTag('archives')" [ngClass]="{' lg:bg-transparent text-primary-700 dark:text-white': currentTag == 'archives'}"   class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">归档</a>
                    </li>
                    <li>
                        <a routerLink="/about"  (click)="changeTag('about')" [ngClass]="{' lg:bg-transparent text-primary-700 dark:text-white': currentTag == 'about'}"   class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">关于</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
  </header>

  <div class="flex-1 w-full h-full flex justify-center items-start bg-white dark:bg-gray-900">
    <div class="h-full w-full sm:w-5/6 md:w-5/6 lg:w-4/5 xl:w-4/5 2xl:w-2/3 ">
      <router-outlet />
    </div>
  </div>
</div>

 @if (showSearch) {
  <div class="w-full h-full fixed top-0 left-0 bottom-0 right-0 bg-gray-200 dark:bg-gray-800 bg-opacity-40 backdrop-blur-sm flex justify-center " (click)="clickModal($event)">
    <div class="w-full sm:w-full md:w-5/6 lg:w-2/3 xl:w-2/3 2xl:w-1/2 h-2/3 flex flex-col justify-center bg-white dark:bg-gray-600 dark:text-white rounded-md mt-5 mb-5 p-5">
      <div class="w-full h-10 border-2 border-blue-400 rounded-md flex items-center">
        <img src="assets/light/search.svg" alt="search" class="h-4 w-4 dark:hidden ml-2">
        <img src="assets/dark/search.svg" alt="search" class="h-4 w-4 dark:block hidden ml-2">
        <input autofocus class="w-full h-full p-2 outline-none dark:bg-gray-600" placeholder="请输入搜索内容" [ngModel]="search()" (ngModelChange)="searchChange($event)" (keydown.esc)="closeSearchModal()"/>
      </div>
      <div class="flex-1 mt-5 overflow-auto">
        @for (item of searchResult(); track $index) {
          <div class="h-14 flex items-center cursor-pointer hover:bg-[rgb(235,238,240)] dark:hover:bg-gray-500 rounded-md" (click)="goToPost(item.attributes.slug)">
            <div class="text-[#1f2328] dark:text-white hover:text-[#1f2328] dark:hover:text-white p-1 rounded-md" >{{item.attributes.title}}</div>
          </div>
        }
      </div>
    </div>
  </div>
  }
