<div class="w-full flex justify-center items-center">
  <div class="w-3/5  py-5 my-5 ">
      <div class="flex justify-center items-center border-[1px] rounded-t-md border-gray-200 bg-[#f4f7f9]"  >
        <div class="flex-1 flex flex-col p-2">
          <h2 class="font-bold text-lg text-gray-500">博客列表</h2>
        </div>
      </div>
    @for (post of posts(); track post.attributes.slug) {
      <div class="flex justify-center items-center border-b-[1px] border-l-[1px] border-r-[1px] border-gray-200 hover:bg-[#f4f7f9] cursor-pointer "  [routerLink]="['post', post.attributes.slug]">
        <div class="flex-1 flex flex-col p-2">
          <h2 class="font-bold text-lg text-gray-600">{{ post.attributes.title }}</h2>
        </div>
      </div>
    }
    <div class="w-full flex justify-between mt-5">
      <button class="px-3 py-1 bg-blue-500 text-white rounded-md disabled:opacity-50" [disabled]="!hasPrev()" (click)="prev()">上一页</button>
      <div class="flex items-center">当前第{{ pageIdx() }}页，共{{ totalPage() }}页</div>
      <button class="px-3 py-1 bg-blue-500 text-white rounded-md disabled:opacity-50" [disabled]="!hasNext()" (click)="next()">下一页</button>
    </div>
  </div>
</div>
