<section class="bg-white dark:bg-gray-900">
  <div class="py-4 px-4 mx-auto max-w-screen-xl lg:py-8 lg:px-6">
      <div class="mx-auto max-w-screen-sm text-center lg:mb-8 mb-4">
          <h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">博客列表</h2>
          <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
            当前共有 {{ blogCount() }} 篇文章
          </p>
      </div>
      <div class="grid gap-8 lg:grid-cols-2">
        @for (post of posts(); track post.attributes.slug) {
          <article class="p-6 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
            <div class="flex justify-between items-center mb-5 text-gray-500">
                <span class="bg-primary-100 text-primary-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-primary-200 dark:text-primary-800">
                    <svg class="mr-1 w-3 h-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M2 5a2 2 0 012-2h8a2 2 0 012 2v10a2 2 0 002 2H4a2 2 0 01-2-2V5zm3 1h6v4H5V6zm6 6H5v2h6v-2z" clip-rule="evenodd"></path><path d="M15 7h1a2 2 0 012 2v5.5a1.5 1.5 0 01-3 0V7z"></path></svg>
                    Article
                </span>
                <span class="text-sm">{{post.attributes.date | date: 'yyyy-MM-dd HH:mm'}}</span>
            </div>
            <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
              <a  [routerLink]="['post', post.attributes.slug]">{{post.attributes.title}}</a>
            </h2>
            <p class="mb-5 font-light text-gray-500 dark:text-gray-400">
              {{post.attributes.title}}
            </p>
            <div class="flex justify-between items-center">
                <div class="flex items-center space-x-4"></div>
                <a  [routerLink]="['post', post.attributes.slug]" class="inline-flex items-center font-medium text-primary-600 dark:text-primary-500 hover:underline">
                    阅读更多
                    <svg class="ml-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </a>
            </div>
        </article>
        }
      </div>
      <nav class="mt-6 flex items-center justify-evenly sm:mt-8" aria-label="Page navigation example">
        <button (click)="next()" [disabled]="!hasNext()" [ngClass]="{ ' hover:bg-white': !hasNext() }" class=" ms-0 flex h-8 items-center justify-center rounded-s-lg border  border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
          <span class="sr-only">上一页</span>
          <svg class="h-4 w-4 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 19-7-7 7-7" />
          </svg>
        </button>
        <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">当前第{{pageIdx()}}页，共{{totalPage()}}页</div>
        <button (click)="prev()" [disabled]="!hasPrev()" [ngClass]="{ ' hover:bg-white': !hasPrev() }" class=" flex h-8 items-center justify-center rounded-e-lg border border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
          <span class="sr-only">下一页</span>
          <svg class="h-4 w-4 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7" />
          </svg>
        </button>
      </nav>
  </div>
</section>
