<div class="w-full h-full flex justify-center items-center">
  <div class="w-3/5 h-full flex flex-col py-5">
    @if (post$ | async; as post) {
    <article class="w-full h-full flex flex-col border-[1px] rounded-md border-gray-200">
      <div class="flex justify-between bg-[#f4f7f9] py-2 px-5 rounded-t-md text-lg font-bold text-gray-500">
        <div>{{ post.attributes.title }}</div>
        <div>{{ post.attributes.date | date: 'yyyy-MM-dd' }}</div>
      </div>
      <hr>
      <div class="w-full h-full flex-1 flex flex-col p-5">
        <img class="w-auto h-auto max-h-[200px] object-cover my-5" [src]="post.attributes.coverImage" />
        <analog-markdown [content]="post.content" />
      </div>
    </article>
    <div class="flex flex-wrap mt-5">
      @for (item of post.attributes.tags; track $index) {
      <div class="h-fit m-2 p-2 px-4 bg-[#ddf4ff] text-[#0969da] rounded-3xl hover:text-white hover:bg-[#0969da] flex justify-center items-center cursor-pointer"  [routerLink]="['/tags/detail']" [queryParams]="{tag: item}"> {{item}}  </div>
      }
    </div>

    }
  </div>

</div>
