<div class="w-full h-full flex justify-center items-center">
  <div class="w-3/5 h-full flex flex-col py-10">
    @if (post$ | async; as post) {
      <article class="w-full h-full flex flex-col">
        <h1 class="text-3xl font-bold my-3">{{ post.attributes.title }}</h1>
        <h2 class="text-base font-bold my-2">{{ post.attributes.date | date: 'yyyy-MM-dd' }}</h2>
        <img class="w-auto h-auto max-h-[200px] object-cover" [src]="post.attributes.coverImage" />
        <analog-markdown [content]="post.content" />
      </article>
      <hr class="my-5" />
      <div class="flex flex-wrap mt-5">
        @for (item of post.attributes.tags; track $index) {
          <div class="text-blue-400 hover:text-blue-600 mx-2 bg-gray-200 rounded-sm p-1 cursor-pointer"># {{ item }}</div>
        }
      </div>

      }
  </div>

</div>


